---
import Prose from '../../components/Prose.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { client, type Blog } from '../../lib/microcms'
import { dateStr, fromSlug, toSlug } from '../../lib/utils'

export async function getStaticPaths() {
  return (await client.getAllContents<Blog>({ endpoint: 'blogs' })).map((c) => {
    return {
      params: {
        slug: toSlug(c),
      },
    }
  })
}

const { slug } = Astro.params
const post = await client.get<Blog>({
  endpoint: 'blogs',
  contentId: fromSlug(slug),
})
---

<BaseLayout pageTitle={post.title} heading={post.heading}>
  <div>
    <h1 class="text-4xl font-semibold">{post.title}</h1>
    <p class="flex space-x-4 text-gray-600">
      <span>投稿日時: {dateStr(post.publishedAt!)}</span>
      {
        post.publishedAt !== post.updatedAt && (
          <span>更新日時: {dateStr(post.updatedAt!)}</span>
        )
      }
    </p>
  </div>
  <Prose>
    <div set:html={post.content} />
  </Prose>
</BaseLayout>
