---
import BaseLayout from '../layouts/BaseLayout.astro'
import type { Blog } from '../lib/microcms'
import { client } from '../lib/microcms'
import { toSlug } from '../lib/utils'

const blogs = await client.getList<Blog>({ endpoint: 'blogs' })
---

<BaseLayout>
  <h1 class="text-4xl font-semibold">ブログ一覧</h1>
  <ul class="mt-2 list-inside list-disc text-lg">
    {
      blogs.contents.map((c) => (
        <li>
          <a href={`/blog/${toSlug(c)}`}>{c.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
