---
import BaseLayout from '../layouts/BaseLayout.astro'
import type { Blog } from '../lib/microcms'
import { client } from '../lib/microcms'
import { yyyyMMdd } from '../lib/utils'

const blogs = await client.getList<Blog>({ endpoint: 'blogs' })
---

<BaseLayout>
  <ul>
    {
      blogs.contents.map((c) => (
        <li>
          <a href={`/blog/${yyyyMMdd(new Date(c.publishedAt!))}-${c.id}`}>
            {c.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
