---
import BaseLayout from '../layouts/BaseLayout.astro'
import {
  faXTwitter,
  faDiscord,
  faGithub,
} from '@fortawesome/free-brands-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
---

<BaseLayout>
  <div class="flex h-full flex-col items-center justify-center">
    <img
      class="size-40 rounded-full"
      src="https://gravatar.com/avatar/5d5be9e85cbd7a927c1112e3ddab36726228d1c1ac6834da9d27fb0265f5dfe4?size=200"
    />
    <p class="mt-2 text-3xl font-bold">ねこかわいい</p>
    <p class="text-xl font-semibold text-gray-700">@nekok500</p>
    <div class="mt-8 flex flex-row space-x-4 text-4xl">
      <a href="https://x.com/nekok500">
        <FontAwesomeIcon icon={faXTwitter} />
      </a>
      <a href="https://github.com/nekok500">
        <FontAwesomeIcon icon={faGithub} />
      </a>
      <a href="https://discord.com/users/586157827400400907">
        <FontAwesomeIcon icon={faDiscord} />
      </a>
    </div>
  </div>
</BaseLayout>

<style is:global>
  .svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
  }
</style>
