<header class="mb-6 flex items-center justify-between">
  <a href="/" class="text-3xl font-bold">nekok500.com</a>
  <nav
    class="flex justify-between space-x-4 text-2xl font-semibold lg:space-x-12"
  >
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </nav>
</header>
